body { margin: 0; }

#meteor{
    background: #000 url(assets/anim.gif) no-repeat center center;
    background-size: 1500px; /* Adjust the size as needed */
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}